header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.date {
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding: 25px 0;
}

.pet-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.pet-list li {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pet-list-item {
    border: 1px solid #333;
    min-width: 300px;
}

.profile-pic {
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.profile-pic img {
    height: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}