.container {
    height: 100%;
    display: flex;
    justify-content: center;
}
.treatActions {
    svg {
        cursor:pointer;
        fill: #444;
    }
    svg:hover {
        fill: #888;
    }
}

.listItem {
    .calories {
        margin: 0 50px;
    }
    background: #fff;

    &:not(:first-child) {
        border-top: 1px solid #ddd;
    }
}
.listItemText {
    min-width: 350px !important;
}

